<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title style='background-color:var(--ion-color-primary-contrast)'>
      My Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid>
  <ion-row *ngIf="collection$ | async as collection">
    <ion-col sizeXs="6" sizeSm="6"  *ngFor="let image of collection">

      <ion-card style='margin-inline:0px;max-width: 100%; height: 150px; object-fit: cover;margin-bottom:0px' >
       <ion-img  [src]='image.objDetail.primaryImageSmall' style='width: 100%; height: 150px; object-fit: cover;' expand="block" (click)='onOpen(image)'/>
        </ion-card>
    </ion-col>
    <div *ngIf='collection.length === 0' style='color:white'>No Favorites for the moment</div>
  </ion-row>
</ion-grid>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->


</ion-content>
