<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true" class='main-content'>
  <app-form (submitted)='onSubmit($event)'></app-form>
</ion-content> -->
<ion-content>


  <ion-card *ngIf='this.img'>
    <ion-img [src]="this.img?.primaryImageSmall" [alt]="this.img?.title">
    </ion-img>
    <ion-card-header>
      <h4 style='flex:2'>{{this.img?.title}}</h4>
      <ion-card-subtitle>{{this.img.artistDisplayName}} - {{this.img?.objectDate}}</ion-card-subtitle>

    </ion-card-header>





    <ion-card-content *ngIf='this.isRevealed'>
     {{this.explanation}}
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-content *ngIf='!this.img'>
  <app-explore-container>
    <ion-spinner color="tertiary"></ion-spinner>
  </app-explore-container>
</ion-content>

<ion-footer>
  <div style='display:flex; justify-content: flex-end; padding-inline: 20px'>
  <ion-button (click)='onExplain()' *ngIf='!this.isRevealed'>What is the meaning ?</ion-button>
<ion-button color='danger'><ion-icon style='flex:1' name="heart-outline"></ion-icon></ion-button>
  <ion-button (click)='onNext()' style='text-align: right;'>Next<ion-icon name="caret-forward-outline"></ion-icon>
  </ion-button>
</div></ion-footer>
