<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style='background-color:var(--ion-color-primary-contrast)'>
      Significart
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true" class='main-content'>
  <app-form (submitted)='onSubmit($event)'></app-form>
</ion-content> -->
<ion-content>


  <ion-card *ngIf='this.img'>
    <ion-img [src]="this.img?.primaryImageSmall" [alt]="this.img?.title">
    </ion-img>
    <ion-card-header>
      <h4 style='flex:2'>{{this.img?.title}}</h4>
      <ion-card-subtitle>{{this.img.artistDisplayName}} - {{this.img?.objectDate}}</ion-card-subtitle>

    </ion-card-header>





    <ion-card-content *ngIf='this.isRevealed'>
     {{this.explanation}}
    </ion-card-content>
  </ion-card>

  <!-- <ion-grid>
    <ion-row>
      <ion-col sizeXs="6" sizeSm="6" *ngFor='let image of linksSuggested | async'>

        <ion-card style='margin-inline:0px;max-width: 100%; height: 150px; object-fit: cover;margin-bottom:0px'>
          <img [src]='image | sanitizer'>
        </ion-card>
      </ion-col>
       <div *ngIf='collection.length === 0' style='color:white'>No Favorites for the moment</div>
    </ion-row>
  </ion-grid> -->

</ion-content>

<ion-content *ngIf='!this.img'>
  <app-explore-container>
    <ion-spinner color="tertiary"></ion-spinner>
  </app-explore-container>
</ion-content>

<ion-footer>
  <div style='display:flex; justify-content: flex-end; padding-inline: 20px'>
  <ion-button (click)='onExplain()' *ngIf='!this.isRevealed'>What is it about ?</ion-button>
  <ion-button (click)='onInteresting()' *ngIf='this.isBtnInterestingVisible'>Why is it interesting ?</ion-button>
  <!-- <ion-button (click)='onMore()' *ngIf='this.isMoreInfo'>Influences ?</ion-button> -->


  <ion-button (click)='onLike()' color='danger' ><ion-icon style='flex:1' name="heart-outline"></ion-icon></ion-button>

  <ion-button (click)='onNext()' style='text-align: right;'>Next<ion-icon name="caret-forward-outline"></ion-icon>
  </ion-button>
</div></ion-footer>
